<div class="flash-message">
  <%= flash[:notice] %>
</div>

<div class="show">
 <p><span class="show-title">Title:</span> <%= @book.title %></p>
 <p><span class="show-body">Body:</span> <%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book.id), class: "link" %>
<span>|</span>
<%= link_to "Back", "/books", class: "link" %>
</div>